#ParaverCFG
ConfigFile.Version: 3.4
ConfigFile.NumWindows: 5


################################################################################
< NEW DISPLAYING WINDOW MPI ellapsed time In burst Region. >
################################################################################
window_name MPI ellapsed time In burst Region.
window_type single
window_id 1
window_position_x 446
window_position_y 18
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 39435569.853000000119
window_minimum_y 1.377000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Div}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Div { 1, { 1 1000.000000000000 } }
window_filter_module evt_type 1 54000006

################################################################################
< NEW DISPLAYING WINDOW # p2ps In burst Region >
################################################################################
window_name # p2ps In burst Region
window_type single
window_id 2
window_position_x 341
window_position_y 19
window_width 600
window_height 114
window_comm_lines_enabled true
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 18639.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.557276741846
window_end_time_relative 0.557276741846
window_object appl { 1, { All } }
window_begin_time_relative 0.495884958837
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 54000000

################################################################################
< NEW DISPLAYING WINDOW # Collectives In burst Region >
################################################################################
window_name # Collectives In burst Region
window_type single
window_id 3
window_position_x 360
window_position_y 38
window_width 600
window_height 114
window_comm_lines_enabled true
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 2357.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.557276741846
window_end_time_relative 0.557276741846
window_object appl { 1, { All } }
window_begin_time_relative 0.495884958837
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 54000003

################################################################################
< NEW DISPLAYING WINDOW # Comms in burst Region >
################################################################################
window_name # Comms in burst Region
window_type composed
window_id 4
window_factors 1.000000000000 1.000000000000
window_operation add
window_identifiers 2 3
window_position_x 464
window_position_y 36
window_width 600
window_height 114
window_comm_lines_enabled true
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 18668.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

################################################################################
< NEW DISPLAYING WINDOW Average MPI call duration >
################################################################################
window_name Average MPI call duration
window_type composed
window_id 5
window_factors 1.000000000000 1.000000000000
window_operation divide
window_identifiers 1 4
window_position_x 799
window_position_y 246
window_width 600
window_height 114
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 259020.524999999994
window_minimum_y 8.624657697600
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open true
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_labels_to_draw 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

